@import url('https://fonts.googleapis.com/css?family=Poppins|Questrial&display=swap');


body{
    background: #1B2B5F;
    color: white;
}
a{
    color: white;
}
p{
    font-family: questrial;
    color: white;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: poppins; 
    font-weight: bold;
}

/* Overwrite Bootstrap CSS Start*/
.navbar-toggler{
    border: 1px solid white;
}
@media(max-width: 992px){
    .navbar-brand{
        margin-left: 0px!important;
    }
    .banner-text.float-left,
    .banner-img.float-right{
        float: none!important;
    }
    .banner-img{
        text-align: center;
    }
    #banner .banner-text{
        margin: 60px 0!important;
        padding: 0 60px;
        width: 100%!important;
    }
}
/* Overwrite Bootstrap CSS Stop*/

/* Some responsive tricks start*/
@media(max-width: 550px){
    .banner-img img{
        height: 300px;
        width: auto;
    }
}
/* Some responsive tricks stop*/

/*Navbar Start*/
.navbar{
    padding: 0.5rem 1rem;
    margin-top: 25px;
}
.navbar-brand{
    margin-left:15px;
    font-family: poppins;
    font-size: 24px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-nav{
    font-family: 'questrial';
}
.nav-item{
    margin-right : 15px;
}
.nav-item:hover{
    color: white;
    border-bottom: 1px solid white;
}
.btn{
    background: #3B5CC1;
    border: 0px;
    width: 100px;
    border-radius: 10px;
    font-family: questrial;
}
/*Sticky navbar*/
.sticky {
    background: #1B2B5F;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
}

/*Navbar End */

/*Banner Start*/
#banner {
    padding: 80px 0px;
    position: relative;
}
.logo-banner {
    height: 400px;
}
#banner .banner-text {
    margin: 125px 0px;
    width: 49.5%;
}
#banner .btn{
    margin-right: 75px;
    width: 150px;
}
/*Banner End*/

/*content start*/
.body-container{
    margin-top: 50px;
    padding: 0px 0px 3px;
}
#benefits{
    margin-top: 50px;
}
#juara{
    margin-top: 50px;
}
.section-title{
    display: inline-block;
}
.section-subtitle{
    margin-left: 50px;
    display: inline-block;
}
.card-benefit{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    background-color: #2C3D75;
    display: inline-block;
}
.card-benefit img{
    padding: 25px;
    width: 150px;
}
.card-inside{
    background-color: #4B5B91;
    padding: 25px;
}        
.card-text{
    font-size: 24px;
    text-align: center;
}
.organized{
    margin-top:50px;
}
.organized-title{
    text-align: center;
    font-size: 24px;
}
.instansi{
    margin-right:50px ;
}

/*footer start*/
hr{
    background: #fff;
    margin-top:25px ;
}
#footer h1{
    font-weight: lighter;
}
#footer .footer-body{
    margin: 50px;
    background-color: #1B2B5F;
}
#footer a{
    margin-top: 25px;
}