@import url('https://fonts.googleapis.com/css?family=Poppins|Questrial&display=swap');


body{
    background: #1B2B5F;
    color: white;
}
a{
    color: white;
}
p{
    font-family: questrial;
    color: white;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: poppins; 
    font-weight: bold;
}
/*Navbar Start*/
.navbar{
    padding: 0.5rem 1rem;
    margin-top: 25px;
}
.navbar-brand{
    margin-left:15px;
    font-family: poppins;
    font-size: 24px;
}
.navbar-brand:hover{
    color: white;
}
.navbar-nav{
    font-family: 'questrial';
}
.nav-item{
    margin-right : 15px;
}
.nav-item:hover{
    color: white;
    border-bottom: 1px solid white;
}
.btn{
    background: #3B5CC1;
    border: 0px;
    width: 100px;
    border-radius: 10px;
    font-family: questrial;
}
/*Sticky navbar*/
.sticky {
    background: #1B2B5F;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
}

/*Navbar End */

/*Banner Start*/
#banner {
    padding: 80px 0px;
    position: relative;
}
.logo-banner {
    height: 400px;
}
#banner .banner-text {
    margin: 125px 0px;
    width: 49.5%;
}
#banner .btn{
    margin-right: 75px;
}